<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    issasdasspsum dolor sit amet consectetur, adipisicing elit. Ssssunt sint
    voluptate et nostsssrum. Commodi dicta sequi nesciunt issssste optio
    cupiditate!
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    issasdasspsum dolor sit amet consectetur, adipisicing elit. Ssssunt sint
    voluptate et nostsssrum. Commodi dicta sequi nesciunt issssste optio
    cupiditate!
  </div>
</div>
